<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--Integrated Security=True;: Isso indica que você está usando autenticação do Windows para se conectar. Isso significa que a autenticação será baseada nas credenciais da conta de usuário que está executando a aplicação.-->
		<add key="SqlConnection" value="Data Source=DESKTOP-6TL25AA;Initial Catalog=MyStock;Integrated Security=True;"></add>
	</appSettings>
</configuration>